body{
    align-items: center;
    justify-content: center;
    display: flex;
    overflow:visible;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color:white;
    font-size: 5px;;
}

.header{
    border:1px solid white;
    padding: 5px 50px 25px 50px;
    font-size: 10px;
    background-color: rgb(2, 11, 88);
}

#number{
    font-weight: bold;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 145px;
    border-radius: 5px;  
    color:aliceblue;
    box-shadow: 0 0 10px white;
    background-color: black;
    font-size: 50px;
    border:none;
}

button{
    padding:5px;
    align-items: center;
    cursor: pointer;
    margin-left: 160px;
    margin-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    border:none
}

.conversion-options{
    border:1px solid white;
    padding: 5px 50px 25px 50px;
    background-color: rgb(255, 255, 255);
}

.length-conversion,
.volume-conversion,
.mass-conversion {
    display: flex;
    flex-direction: column; /* Stack heading and result vertically */
    align-items: center;
    padding: 15px 20px;
    margin: 20px auto;
    width: 80%;
    background-color: #e4e4e4;
    border: 1px solid white;
    color: royalblue;
    font-size: 11px;

}

.length-conversion p,
.volume-conversion p,
.mass-conversion p {
    color: black;
    font-size: 9px;
    margin-top: 8px; /* Space between heading and result */
    font-family: monospace;
    white-space: pre-line; /* Support for multiline display */
    text-align: flex-start; /* Align text to the left */
    flex-direction: row;
}


